# ========================================================
# PENGATURAN FRONTEND (WEB)
# ========================================================

# Alamat server backend agar web bisa nyambung ke database & AI
NEXT_PUBLIC_API_URL=http://localhost:3001

# 2. DATABASE AUTH (Supabase)
# Isi dengan URL dan Anon Key dari project Supabase kamu untuk auth frontend
NEXT_PUBLIC_SUPABASE_URL="isi_dengan_url_supabase_kamu"
NEXT_PUBLIC_SUPABASE_ANON_KEY="isi_dengan_anon_key_supabase_kamu"
